:root {
    --background: #14131e;
    --white: #bfbfbf;
    --highlight: #0f9ad2;
    --gradient: linear-gradient( #59a6b8, #0f9ad2, #107fae, #3b6678);
}

html {
    overflow-y: scroll;
  
    -webkit-scrollbar-display: none;  /* Chrome */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  
    scroll-behavior: smooth;
  
  }

body {
    font-family: Source Code Pro, Courier, monospace;
    text-align: center;
    background-color: var(--background);
}

p {
    color: var(--white);
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    font-family: Source Code Pro, Courier, monospace;
    color: var(--background);
    background-color: var(--background);
    border: none;
    cursor: pointer;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.footer {
    font-size: 1rem;
    color: var(--highlight)
}

.gradient-text {
    background-color: var(--gradient);
    background-image: var(--gradient);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.links-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.625rem;
    flex-wrap: wrap;
    align-items: center;
}

.link-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: none;
    border: 0.1rem solid var(--highlight);
    border-radius: 1rem;
    color: var(--white);
    padding: 0.8rem;
    text-align: center;
    font-family: Source Code Pro, Courier, monospace;
    font-size: 1.25rem;
    margin: 0.25rem;
    width: 100%;
    transition: 0.25s;
    max-width: 37.5rem;
    min-width: 12.5rem;
    box-sizing: border-box;
}

.link-button:hover {
    background-color: var(--highlight);
    border: 0.125rem solid var(--highlight);
    color: var(--background);
    transform: scale(1.01, 1.01);
    font-weight: bold;
}